/*problems-section*/

.problems-section {
  padding-top: 50px;
  background-color: rgb(17, 21, 23);
  height: 514px;
  position: relative;
}

.problems-section__title {
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  color: rgb(255, 255, 255);
  font-weight: 700;
  line-height: 24px;
  font-size: 20px;
  margin-bottom: 20px;
}

.problems-section__list {
  background-color: rgb(255, 255, 255);
  box-shadow: 4px 6.928px 15.54px 5.46px rgba(29, 29, 27, 0.04);
  list-style: none;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 27px;
  padding-bottom: 30px;
  position: absolute;
  top: 170px;
  left: 50%;
  transform: translateX(-50%);
}

.problems-section__item {
  margin-bottom: 20px;
}

.problems-section__item:last-child {
  margin-bottom: 0;
}

.help {
  color: rgb(255, 107, 8);
}

.problem-section__number::before {
  display: block;
  position: absolute;
  content: "";
  width: 25px;
  height: 2px;
  background-color: rgb(255, 107, 8);
  top: 12px;
  left: -35px;
}

.problem-section__number {
  position: relative;
  margin: 0;
  margin-left: 35px;
  font-size: 14px;
  font-family: "Montserrat",sans-serif;
  color: rgb(255, 107, 8);
  line-height: 29px;
  width: 14px;
}

.problems-section__subtitle {
  margin: 0;
  font-family: "Montserrat";
  font-size: 14px;
  color: rgb(24, 25, 29);
  font-weight: bold;
  line-height: 16px;
}

/* Solving SECTION */

.solving-section {
  padding-top: 190px;
  padding-bottom: 53px;
}

.solving-section__title {
  font-size: 20px;
  font-family: "Montserrat";
  color: rgb(24, 25, 29);
  font-weight: bold;
  line-height: 1.65;
  text-align: center;
  width: 224px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.solving-section__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.solving-section__item {
  width: 280px;
  text-align: center;
  background-color: rgb(255, 255, 255);
  box-shadow: 4px 6.928px 23.68px 8.32px rgba(29, 29, 27, 0.11);
  height: 267px;
  margin-bottom: 16px;
  padding-top: 22px;
  padding-bottom: 30px;
}

.icons {
  width: 74px;
  height: 60px;
  background-repeat: no-repeat;
  background-position: center;
  fill: rgb(255, 107, 8);
}

.solving-section__subtitle {
  margin: 0 auto;
  font-family: "Montserrat";
  color: rgb(17, 21, 23);
  font-weight: bold;
  line-height: 1.538;
  text-align: center;
  width: 218px;
  font-size: 13px;
  margin-bottom: 20px;
}

.solving-section__about {
  margin: 0 auto;
  font-family: "Montserrat";
  color: rgb(133, 133, 133);
  line-height: 1.818;
  text-align: center;
  width: 250px;
  font-size: 11px;
}

.solving-section__subtitle::after {
  margin: 20px auto 0;
  display: block;
  content: "";
  background-color: rgb(255, 107, 8);
  width: 25px;
  height: 2px;
}

.solving-section__item:hover {
  background-color: rgb(255, 107, 8);
}

.solving-section__item:hover .solving-section__subtitle {
  color: rgb(255, 255, 255);
}

.solving-section__item:hover .solving-section__about {
  color: rgb(255, 255, 255);
}

.solving-section__item:hover :after {
  background-color: rgb(255, 255, 255)
}

.solving-section__item:hover .icons {
  fill: rgb(255, 255,255)
}

@media (min-width: 768px) {
  .solving-section__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 40px;
    padding-right: 40px;
  }

  .solving-section {
    padding-top: 210px;
    padding-bottom: 50px;
  }

  .solving-section__item {
    flex: 0 0 290px;
  }

  .container {
    width: 688px;
  }

  .solving-section__title {
    margin: 0 auto;
    margin-bottom: 40px;
    font-size: 26px;
    font-family: "Montserrat";
    color: rgb(24, 25, 29);
    font-weight: bold;
    line-height: 1.269;
    width: 292px;
  }

  .problems-section {
    width: 100%;
    background-image: url(../images/fire.png);
    background-repeat: no-repeat;
    height: 334px;
    position: relative;
    padding-top: 0;
  }

  .problems-section__title {
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.269;
    width: 530px;
    font-size: 26px;
    padding-top: 60px;
    padding-right: 230px;
    text-align: left;
  }

  .problems-section__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: auto;
    padding: 38px 70px;
    top: 185px;
  }

  .problems-section__item {
    flex: 0 0 235px;
  }

  .problems-section__item:nth-child(n+5){
    margin-bottom: 0;
  }
}

@media (min-width: 1280px) {
  .container {
    width: 1210px;
  }

  .solving-section__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }

  .solving-section {
    padding-bottom: 80px;
    padding-top: 140px;
  }

  .solving-section__item {
    flex: 0 0 390px;
    height: 340px;
    padding-top: 40px;
  }

  .solving-section__title {
    font-family: "Montserrat";
    color: rgb(24, 25, 29);
    font-weight: bold;
    width: 1210px;
    font-size: 42px;
    text-align: left;
  }

  .solving-section__subtitle {
    font-family: "Montserrat";
    color: rgb(24, 25, 29);
    font-weight: bold;
    width: 322px;
    font-size: 18px;
  }

  .solving-section__about {
    font-family: "Montserrat";
    color: rgb(133, 133, 133);
    line-height: 2.083;
    text-align: center;
    width: 325px;
    font-size: 15px;
  }

  .problems-section {
    width: 100%;
    background-image: url(../images/fire2.png);
    background-repeat: no-repeat;
    position: relative;
    height: auto;
    padding-bottom: 247px;
  }

  .problems-section__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: auto;
    position: absolute;
    top:250px;
  }

  .problems-section__item {
    flex: 0 0 300px;
  }

  .problems-section__title {
    font-size: 42px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.346;
    width: 760px;
    margin: 0 auto;
    padding-right: 465px;
  }

  .problems-section__subtitle {
    font-family: "Montserrat";
    color: rgb(24, 25, 29);
    font-weight: bold;
    line-height: 1.62;
    width: 266px;
    font-size: 18px;
    margin-top: 15px;
  }

  .problem-section__number {
    font-size: 21px;
    line-height: 1.4;
    width: 26px;
    font-family: "Montserrat";
  }
}
